.bg-theme{
  min-height: 100vh;
  background-color: #f5f5f5;
}
/* dark mode class */
.bg-theme.dark{
  background-color: #192e3a;
}

.crud-container{
  max-width: 700px;
}
.notFound img{
  width: 100%;
  height: auto;
}
.form{
  max-width: 400px;
  margin: 0 auto;
}
/* links */
/* .notActive{
  text-decoration: none;
  color: #000;
}*/
header nav a{
  text-decoration: none;
  font-size: 1.2rem;
}
.isActive{
  text-decoration: underline;
  color: #0d6efd !important;
}